@import '../../../scss/icon-sizes.scss';

.nav-link {
  align-items: center;
  background-color: transparent;
  color: currentColor;
  border: 0;
  display: flex;
  position: relative;

  &::after {
    opacity: .25;
  }

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    border-radius: var(--border-radius);
  }

  &:hover {
    color: var(--fs-color-primary-700);
    background-color: var(--fs-color-primary-300);
  }

  &:focus,
  &:active {
    color: var(--fs-color-primary-100);
    background-color: var(--fs-color-primary-500);
    // box-shadow: 0 0 0 0.2rem var(--fs-color-primary-400);;
  }

  &.nav-user {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  & .badge {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75rem;
    z-index: 1;

    &.onlyNine {
      right: 10px;
    }

    &.overNinetyNine {
      right: -4px;
    }

    @media(max-width: 768px) {
      right: -10px;

      &.onlyNine {
        right: -5px;
      }

      &.overNinetyNine {
        right: -18px;
      }
    }
  }
}

.nav-button {
  font-size: 1em;
  line-height: unset;
}

.nav-text {
  display: unset;

  .mainnav &,
  .sidenav & {
    font-weight: 600;
  }

  .nav-visible .sidenav & {
    display: none;
  }


  @media (max-width: 1000px) {
    .icon-nav + & {
      display: none;
    }
  }

  .metanav & {
    display: unset;
  }
}
