$primary: #533a20;
$secondary: #64ae24;
$gray: #5e636e;
$warning: #cc990e;
$danger: #cf3a00;
$success: $secondary;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@function tint($color, $percentage) {
    @return mix(#FFF, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

$colorlist: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "danger": $danger,
  "warning": $warning,
);

:root {
    /**
        Generated
    */
    @each $name, $color in $colorlist {
        $step: 110%;
        @for $i from 1 through 9 {
            $index: $i * 100;
            @if $i < 5 {
                $step: $step - 15%;
                --fs-color-#{$name}-#{$index}: #{tint($color, $step)};
            }

            @if $i == 5 {
                $step: 0%;
                --fs-color-#{$name}-#{$index}: #{$color};
            }

            @if $i > 5 {
                $step: $step + 20%;
                --fs-color-#{$name}-#{$index}: #{shade($color, $step)};
            }

        }
    }
    @each $name, $color in $colorlist {
        $step: 100;
        @for $i from 1 through 9 {
            $index: $i * 10;
            --fs-color-#{$name}-alpha-#{$index}: #{scale-color($color, $alpha: -($step - $index))};
        }
    }
    /**
        Others
    */
    --fs-color-transparent: transparent;
    --fs-color-border: var(--fs-color-primary-200);
}
