$primary: #533a20;
$secondary: #64ae24;
$success: $secondary;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@function tint($color, $percentage) {
    @return mix(#FFF, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

$colorlist: (
  "primary": $primary,
  "secondary": $secondary,
  "light": scale-color(tint($primary, 95), $saturation: 65),
);

:root {

    --fs-color-transparent: transparent;

    @each $name, $color in $colorlist {
        $step: 100%;
        @for $i from 1 through 9 {
            $index: $i * 100;
            @if $i < 5 {
                $step: $step - 10%;
                --fs-color-#{$name}-#{$index}: #{tint($color, $step)};
                // --fs-color-#{$name}-#{$index}: #{scale-color(tint($color, $step), $saturation: $step / 2.5)};
            }

            @if $i == 5 {
                $step: 0%;
                --fs-color-#{$name}-#{$index}: #{$color};
            }

            @if $i > 5 {
                $step: $step + 20%;
                --fs-color-#{$name}-#{$index}: #{shade($color, $step)};
            }

        }
    }

    /**
        OLD STYLES
    */

    --border: var(--fs-color-primary-200);

    --warning-rgb: 255, 193,  7; /* bootstrap default, #ffc107 */
    --danger-rgb:  220,  53, 69; /* bootstrap default, #dc3545 */

    --fs-brown-rgb:  83,  58,  32;
    --fs-green-rgb: 100, 174,  36;
    --fs-beige-rgb: 241, 231, 201;
    --fs-white-rgb: 249, 245, 224;
    --fs-black-rgb: 51, 51, 51;
    --fs-dark-grey-rgb: 85, 85, 85;
    --fs-light-grey-rgb: 156, 156, 156;

    --fs-brown: var(--fs-color-primary-500); /* #533a20 */
    --fs-green: var(--fs-color-secondary-500); /* #64ae24 */
    --fs-beige: var(--fs-color-primary-200); /* #f1e7c9 */
    --fs-white: var(--fs-color-light-500); /* #f9f5e0 */
    --fs-dark-grey: var(--lt-color-gray-600); /* #9C9C9C */
    --fs-black: var(--lt-color-gray-900); /*#333333 */
    --fs-light-grey: var(--lt-color-gray-500); /* #555555 */
}
